/**
 * App / Theme Colors
 ========================================================================== 
 * List of colors used in the app. 
 *
 */

$theme-bg-color: #f0f0f0;
$theme-white-color: #ffffff;
$theme-light-shade: #f7f9fb;
$theme-secondary-color: #4084CB;

$theme-secondary-brand-color: #4caaf3;
$theme-brand-color: #d50f67;
$theme-secondary-dark-color: #414851;

$granny-smith: #859490;
$theme-dark-shade: #2E4053;

$theme-dark-grey: #5E5E5E;
$theme-light-grey: #747474;
$theme-lighter-grey: #A0A0A0;

$theme-tile-border: 4px;