/**
 * Font / Typography settings
 ========================================================================== 
 * This sets the predefined font sizes for the app text to have a 
 * consistent experience
 *
 */

$openSansFont: "Open Sans", sans-serif;
$handwritingFont: "Pacifico", cursive;

$font-size-xsmall: 0.5em;
$font-size-small: 0.6em;
$font-size-medium: 0.75em;
$font-size-large: 1em;
$font-size-xlarge: 1.2em;
$font-size-xxlarge: 1.5em;
